.container {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.move {
    position: absolute;
    overflow: auto;
    height: 100%; /* Ensure the inner div takes the full height of the parent */
    width: 100%; /* Ensure the inner div takes the full width of the parent */
}

.text {
    color: white;
}

/* Add any additional styles for your content here */
.content {
    padding: 7rem 2rem; /* Adjust as needed */
}
