.container{
    margin: 0;
    padding: 0;
    background-image: url('../../images/bg-image.jpg'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin-top: 30px;
}
@media (max-width:480px){
    .container { 
      background: url(http://myimage.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }